@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

body {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.audio {
}

.kitten {
  border: solid 2px black;
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  animation: shake 1s ease-in-out infinite;
}

.flower2 {
  top: 0;
  z-index: -1;
  opacity: 0.8;
  width: 150px;
  position: fixed;
  right: 130px; /* Adjust the initial left position as needed */
  animation: moveUp 5s infinite linear;
}

@keyframes moveUp {
  0% {
    transform: translateY(100vh) translateX(0);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.flower {
  z-index: -1;
  top: 0;
  opacity: 0.8;
  width: 150px;
  position: fixed;
  left: 130px;
  animation: moveDown 5s infinite linear;
}

@keyframes moveDown {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(100vh) translateX(0); /* Adjust the vertical distance as needed */
  }
}

@keyframes shake {
  0%, 100% {
      transform: translate(0, 0);
  }
  25%, 75% {
      transform: translate(-3px, -3px); /* Adjust the shaking distance */
  }
  50% {
      transform: translate(1px, 1px); /* Adjust the shaking distance */
  }
}

.header {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  animation : slideDown 3.5s ease-out;
}

@keyframes slideDown {
  from {
      transform: translateY(-50px); /* Start position above the button */
      opacity: 0; /* Start with opacity 0 */
  }
  to {
      transform: translateY(0); /* End position at the original position */
      opacity: 1; /* Fully visible at the end */
  }
}
.btn1, .btn2 {
  margin: 5px;
  padding: 10px 25px;
  border-radius: 20px;
}


.button-container {
  display: flex;
  gap: 10px;
}

.btn1 {
  background-color: lightcoral;
  border: none;
}

.btn1:hover {
  background-color: rgba(240, 128, 128, 0.726);
}

.btn2 {
  background-color: rgb(97, 246, 97);
  border: none;
}

.btn2:hover {
  background-color: rgb(140, 239, 140);
}

#yesButton {
  transform: font-size 0.5s;
}

#myText {
  font-size: 5em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

#myText.animate-up {
  opacity: 0;
  animation: moveUp2 2s ease-in-out forwards; /* Adjust the duration and easing as needed */
}

@keyframes moveUp2 {
  0% {
    transform: translateY(30px); /* Start from a slightly below position */
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}